<div class="container">
  <div class="index-lists">
      <% @lists.each do |list| %>
        <div class="list-index">
          <% list.colocation = @colocation %>
          <%= link_to colocation_list_path(@colocation, list) do%>
            <%= list.title.upcase %>
              <%= link_to colocation_list_path(@colocation, list), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr.e ?"} do %>
              <i class="fa-solid fa-trash"></i>
              <% end %> <br>
              <div class="mini-todo-items">
                <% list.items.first(3).each do |item| %>
                <%= item.name %> <br>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>
  </div>

    <%= link_to "Nouvelle liste", new_colocation_list_path %>
</div>
