
<div class="showlist container">
  <div class="title d-flex justify-content-center mt-5 mb-5">
    <h1> <%= @list.title %> </h1>
    <i data-bs-toggle="modal" class="fa-regular fa-pen-to-square edit-button" data-bs-target="#editList"></i>
  </div>
  <% if @items.count == 0 %>
    <p>Ajoutez votre premier élément</p>
  <% else %>
  <div class="px-5">
    <%= render @items %>
  </div>
  <% end %>

  <%= link_to new_colocation_list_item_path(@colocation, @list) do%>
  <i class="fa-solid fa-circle-plus button-add-yellow"></i>
  <% end %><br>
  <%= link_to colocation_lists_path do %>
  <i class="fa-solid fa-arrow-left button-add-yellow"></i>
  <% end %>

</div>


<!-- Modal -->
<div class="modal fade" id="editList" tabindex="-1" aria-labelledby="editList" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <div class="container">
            <%= simple_form_for [@colocation, @list], method: :patch do |f| %>
            <%= f.input :title %>
            <%= f.button :submit, 'Enregistrer' %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
