<div id="message-<%= message.id %>" class="my-3 <%= message.user.id == current_user.id ? 'right-side-message':'left-side-message' %>">
  <small>


    <h4><%= message.user.nickname %></h4>
    <% if message.user.photo.attached? %>
      <%= image_tag user.photo.key, class: "avatar-large", alt: "avatar-large" %>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>

    <% end %>






    <i><%= I18n.localize message.created_at %></i>
    <%#= message.created_at.strftime("%d %B %Y %Hh %Mmin %Ss") %>


  </small>
  <br><br>
  <h5><%= message.content%></h5>
</div>



<%# > I18n.localize Time.now, :format => :short %>
