  <div class="card-purple even-<%= note.id%3 %>" data-notes-target="card">
      <h2><%= note.title %> <div class="menu-nav">
        <div class="menu-item"></div>
        <div class="dropdown-container" tabindex="-1">
          <div class="three-dots"></div>
          <div class="dropdown">
            <%= link_to edit_colocation_note_path(@colocation, note) do  %><div>Modifier</div> <% end %>
            <%= link_to [@colocation, note], data: { 'turbo-method': :delete, 'turbo-confirm': 'Etes vous sur.e?' } do  %><div>Supprimer</div> <% end %>

          </div>
        </div>
      </div></h2>






      <p><%= note.content %></p>
      <%# <%= link_to "Modifier cet note", edit_colocation_note_path(@colocation, note), class: "btn btn-primary" %>



  </div>
