<div class="container mb-5 w-50 bg-test p-3 rounded-5 mt-5 ">
<h1>Editez votre note</h1>
  <%= simple_form_for [@colocation, @note] do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, :label => "Titre de la note"  %>

  <%= f.input :content, :label => "Description de la note" %>



  <%= f.button :submit, "Mise à jour de la note", class: "btn-create" %>
  <%= f.button :submit, "Annuler", class: "btn-cancel" %>
  <% end %>
  <%= link_to "retournez sur les notes", colocation_notes_path %>
</div>
