<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                label: 'Adresse email',
                autofocus: true,
                placeholder: "mail@mail.fr",
                input_html: { autocomplete: "email" }%>
    <%= f.input :nickname,
                label: 'Pseudo',
                required: true,
                input_html: { autocomplete: "Pseudo" } %>
    <%= f.input :phone_number,
                label: 'Numéro de téléphone',
                input_html: { autocomplete: "Numéro de téléphone" } %>
    <%= f.input :password,
                required: true,
                label: 'Mot de passe',
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: 'confirmez votre mot de passe',
                required: true,
                input_html: { autocomplete: "new-password" } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
