<div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <h1><%= @chatroom.colocation.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>

    <div class="<%= message.sender?(current_user) ? 'right-side-message' : 'left-side-message' %> mb-5">


      <%= render "messages/message", message: message %>

    </div>

    <% end %>
  </div>

  <%# <div class="message-box">
    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit">Send</button>
  </div> %>


<div class="container">
<div class="chat_field"> <%= simple_form_for [@colocation, @chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex my-5" } do |f| %>
<%= f.input :content,
    label: false,
    placeholder: "Type message...",
    wrapper_html: {class: " flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-outline-secondary mb-5" %>
<% end %>
</div>
</div>
</div>
