<div class="container mb-5 w-50 bg-test p-3 mt-5  ">
<h1 class="text-center">Créer votre coloc</h1>
  <%= simple_form_for @colocation do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, :label => "nom de la colocation"  %>

  <%= f.button :submit, "Création Colocation", class: "btn-create " %>
  <%= f.button :submit, "Annuler", class: "btn-cancel " %>
  <% end %>
</div>
