
  <div class="list-item d-inline-flex justify-content-between" data-bs-toggle="collapse" href="#collapseExample<%=item.id%>" role="button" aria-expanded="false" aria-controls="collapseExample<%=item.id%> <%@list.item_ids%>">
    <div data-controller="items">
      <%= simple_form_for([@colocation, @list, item], data: {items_target: "form"}) do |f| %>
        <%= f.check_box :completed, data: {items_target: "check", action: "change->items#chec"} %>
      <% end %>
    </div>
      <div class="item-name">
        <%= item.name %>
        <% unless item.description == "" %>
          <%= "..." %>
        <% end %>
      </div>
      <div class="item-pictos d-flex justify-content-between">
        <%= link_to edit_colocation_list_item_path(@colocation, @list, item) do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
        <%= link_to colocation_list_item_path(@colocation, @list, item), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr.e ?"} do %>
          <i class="fa-solid fa-trash"></i>
        <% end %> <br>
      </div>
  </div>

  <div class="collapse" id="collapseExample<%=item.id%>">
    <div class="card card-body">
      <%= item.description %>
    </div>
  </div>
