<%= simple_form_for [@list, @item] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :urgent? , :as => :radio_buttons, :collection => [['urgent', true],
  ['Non urgent', true]], label:"Urgent ?" , :disabled => true %>
  <%= f.submit %>
<% end %>
</div>
