<div class="new-item">
  <div class="container">
    <%= simple_form_for [@colocation, @list, @item] do |f| %>
      <%= f.input :name, label: "Nom" %>
      <%= f.input :description %>
      <%# <%= f.input :urgent , :as => :radio_buttons, :collection => [['urgent', true],
      ['Non urgent', false]], label:"Urgent ?" %>
      <%= f.submit %>
    <% end %>
        <br>
        <br>
        <br>
      <%= link_to colocation_lists_path do %>
        <i class="fa-solid fa-arrow-left button-add-yellow ms-5"></i>
      <% end %>
  </div>
</div>
